<div class="row" style="margin-right:0px !important">
<div style="padding-top:12px;" class="content">
<div style="width:75%;margin-left:20px;border-style: groove;border: 1px solid #ddd;" class="col-md-7">
<h2><%= locals.post.title %></h2>

<div class="clearer"></div>

<p>Adapters are abstract classes for receiving various events. The methods in these classes are empty. These classes exists as convenience for creating listener objects.</p>
<h2>Angular JS Directives:</h2>
<p>Following is the list of commonly used adapters while listening GUI events in AWT.</p>
<table class="table table-bordered">
<tr></tr>

<tr><td>
	<p><div><%- locals.post.body %></div></p>
</td></tr>
</table>
</div>
</div>
</div>
